<!DOCTYPE html><html xml:lang="ja" lang="ja"><head>
<title>deserializeRSAKey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css" class="core">/* コアCSS */
</style>
</head><body>
<div class="core"><!-- コアHTML -->
</div>

<div class="webApp"><!-- webアプリHTML -->
</div>

<!-- 外部スクリプト -->

<script type="text/javascript" class="core">/* コアスクリプト */
/** deserializeRSAKey: 文字列化されたRSAキーを復元
 * @param {string} key - 文字列化されたRSAキー
 * @returns {RSAKey} RSAキー
 * @desc [store javascript object rsa private key #28]{@link https://github.com/wwwtyro/cryptico/issues/28}
 */
 function deserializeRSAKey(key) {
  let json = JSON.parse(key);
  let rsa = new RSAKey();
  rsa.setPrivateEx(json.n, json.e, json.d, json.p, json.q, json.dmp1, json.dmq1, json.coeff);
  return rsa;
}
</script>

<script type="text/javascript" class="webApp">/* webアプリ */
</script>

<script type="text/javascript" class="test">/* テスト用 */
</script>

<script type="text/javascript" class="main">
window.addEventListener('DOMContentLoaded',() => {
  const v = {};
});
</script>
</body></html>