<!DOCTYPE html><html xml:lang="ja" lang="ja"><head>
<title>WebScanner</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../szLib.css" rel="stylesheet" />
<style type="text/css"></style>
</head><body>
  <div id="WebScanner"></div>
  <div id="qrcode"></div>
</body>
<!-- QRコード検出 -->
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
<!-- QRコード生成 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

<script type="text/javascript" src="../createElement.js" data-embed="../createElement.js"></script>
<script type="text/javascript" src="../mergeDeeply.js" data-embed="../mergeDeeply.js"></script>
<script type="text/javascript" src="../setupInstance/core.js" data-embed="../setupInstance/core.js"></script>
<script type="text/javascript" src="core.js"></script>
<!--
-->
<script type="text/javascript">
window.addEventListener('DOMContentLoaded',async () => {
  const v = {};
  v.WebScanner = new WebScanner('#WebScanner',{
    display:{
      link: true,
      qrcode: true,
    },
    description: '受付番号または氏名(ヨミ)の一部を入力してください',
    closeWhenFinished:false,
  });
  v.rv = await v.WebScanner.entry();
});
</script>
</html>