<!DOCTYPE html><html xml:lang="ja" lang="ja"><head>
<title>TNoPerticipants</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../szLib.css" rel="stylesheet" />
<style type="text/css"></style>
</head><body>
<div id="statistics"></div>

</body>
<!-- alaSQL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/4.1.7/alasql.min.js" integrity="sha512-xdGKK8okKKREuKT6V7QYlXVJ+jIZQC9zOEGzeiF2tHOMXdMMXQESDXlpn8FDGKdIUOkJYI0IO3q6JoMWoR6XAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- cryptico -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/cryptico.min.js" integrity="sha512-C7GGRhFRn7F7hsLH1oCH2kX9ls61kx33wAgTZ6xJDwGvvgULcIZpwKqxG1+Kj/KOD2jWPxjNQYHi4BopPJPxVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript" src="core.js"></script>
<script type="text/javascript" src="../LoadingIcon/core.js"></script>
<script type="text/javascript" src="../setupInstance/core.js"></script>
<script type="text/javascript" src="../createElement.js"></script>
<script type="text/javascript" src="../createPassword.js"></script>
<script type="text/javascript" src="../mergeDeeply.js"></script>
<script type="text/javascript" src="../Auth/Auth.js"></script>
<script type="text/javascript" src="../whichType.js"></script>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded',async () => {
  const v = {whois:'DOMContentLoaded',opt:{},debug:true,
    // 認証局
    gwURL:'https://script.google.com/macros/s/AKfycbwSvy450w3Bu3GhbBlNFGS5bJAHWi91_gEC42tTtWScAkJUjdZ35SncfXi2slktGH9h/exec',
    // URLクエリパラメータ
    searchParams: new URLSearchParams(window.location.search),
  };

  v.step = '1.1'; // Auth: 認証
  v.ls = localStorage.getItem('conf');
  // クエリ文字列のデバッグモード指定を確認
  if( v.searchParams.has('debug') ){
    v.debug = v.searchParams.get('debug').toLowerCase() === 'true';
  }
  if( v.debug && v.ls !== null ){
    v.step = '1.1.1';
    // デバッグ用
    v.opt = JSON.parse(v.ls);
    v.Auth = new Auth(v.gwURL,v.opt);
    if( v.Auth instanceof Error ) throw v.Auth;
  } else {
    v.step = '1.1.2';
    // クエリ文字列で受付番号が与えられた場合、受付番号欄にセット
    if( v.searchParams.has('id') ){
      v.opt.entryNo = {value:String(v.searchParams.get('id'))};
    }
    v.Auth = new Auth(v.gwURL,v.opt);
    if( v.Auth instanceof Error ) throw v.Auth;
    await v.Auth.build();
  }
  localStorage.setItem('conf',JSON.stringify(v.Auth));
  console.log('l.51',v.Auth);

  v.TNoPerticipants = new TNoPerticipants('#statistics',v.Auth);
  v.rv = await v.TNoPerticipants.build();

  console.log(v.rv);
});
</script>
</html>