<!DOCTYPE html><html xml:lang="ja" lang="ja"><head>
<title>Auth</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--
  Qiita [非同期な自作 confirm を作ってみた](https://qiita.com/naoki-funawatari/items/4de792bfefe5eab909cc)
-->
<!-- 自作CSS -->
<link rel="stylesheet" type="text/css" href="szLib.css" />
</head>
<body>
  <dialog id="dialog">
    <p id="message"></p>
    <button id="button-ok">ＯＫ</button>
    <button id="button-cancel">キャンセル</button>
  </dialog>

</body>
<script type="text/javascript" src="createElement.js" data-embed="../component/createElement.js"></script>
<script type="text/javascript" src="mergeDeeply.js" data-embed="../component/mergeDeeply.js"></script>

<script type="text/javascript">
class Auth {
  constructor(){
    this.entryNo = {};
    this.passCode = {};
  }

  async build(){
    const v = {rv:null};
    console.log('Auth.build start.');
    try {
      do  // 受付番号が指定形式になるまでループ
        this.entryNo.value = await this.#getEntryNo();
      while( this.entryNo.value.match(/^[0-9]{1,4}$/) === null );

      do  // 受付番号が指定形式になるまでループ
        this.passCode.value = await this.#getPassCode();
      while( this.passCode.value.match(/^[0-9]{6}$/) === null );

      console.log('Auth.build normal end.');
      return v.rv;
    } catch(e){
      console.error('Auth.build abnormal end.\n',e);
    }
  }

  #getEntryNo(){
    const v = {};
    console.log('Auth.getEntryNo start.');

    this.entryNo.element = createElement({
      tag:'dialog',
      attr:{name:'entryNo'},
      children:[
        {tag:'p',text:'受付番号を入力してください'},
        {tag:'input',attr:{type:'text'}},
        {tag:'input',attr:{type:'button',value:'送信'}},
      ],
    });
    document.querySelector('body').prepend(this.entryNo.element);
    document.querySelector('dialog[name="entryNo"]').showModal();

    return new Promise(resolve => {
      document.querySelector('dialog[name="entryNo"] input[type="button"]')
      .addEventListener('click',() => {
        document.querySelector('dialog[name="entryNo"]').close();
        let rv = event.target.parentElement.querySelector('input[type="text"]').value;
        console.log('Auth.getEntryNo end.',rv);
        resolve(rv);
      });
    });
  }

  #getPassCode(){
    const v = {};
    console.log('Auth.getPassCode start.');

    this.passCode.element = createElement({
      tag:'dialog',
      attr:{name:'passCode'},
      children:[
        {tag:'p',text:'パスコードを入力してください'},
        {tag:'input',attr:{type:'text'}},
        {tag:'input',attr:{type:'button',value:'送信'}},
      ],
    });
    document.querySelector('body').prepend(this.passCode.element);
    document.querySelector('dialog[name="passCode"]').showModal();

    return new Promise(resolve => {
      document.querySelector('dialog[name="passCode"] input[type="button"]')
      .addEventListener('click',() => {
        document.querySelector('dialog[name="passCode"]').close();
        let rv = event.target.parentElement.querySelector('input[type="text"]').value;
        console.log('Auth.getPassCode end.',rv);
        resolve(rv);
      });
    });
  }

}


const confirmAsync = async message => {
  document.getElementById("message").innerText = message;
  document.getElementById("dialog").showModal();

  return new Promise(resolve => {
    const eventBase = flag => () => {
      document.getElementById("dialog").close();
      document.getElementById("button-ok").removeEventListener("click", okEvent);
      document.getElementById("button-cancel").removeEventListener("click", cancelEvent);
      resolve(flag);
    };
    const okEvent = eventBase(true);
    const cancelEvent = eventBase(false);

    document.getElementById("button-ok").addEventListener("click", okEvent);
    document.getElementById("button-cancel").addEventListener("click", cancelEvent);
  });
};

const handleClicked = async () => {
  if (await confirmAsync("よろしいですか？")) {
    alert("ＯＫが押されました。");
  } else {
    alert("キャンセルが押されました。");
  }
};

let config;
window.addEventListener('DOMContentLoaded',async () => {
  const v = {};
  console.log('DOMContentLoaded start.');
  //handleClicked();
  v.auth = new Auth();
  await v.auth.build();
  console.log(v.auth);
  console.log('DOMContentLoaded end.');
});

</script>
</html>