<!DOCTYPE html><html xml:lang="ja" lang="ja"><head>
<title>Auth</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- 自作CSS -->
<link rel="stylesheet" type="text/css" href="loading.css" class="core"
  data-embed="../component/loading.css" />
<style type="text/css" class="core">/* コアCSS */
</style>
</head><body>
<div><!-- 開始：HTML -->
  <h1>だみぃ</h1>
  <p>これはログイン後に表示される初期画面です。</p>
<!--div class="authorize">
  <div class="area entryNo">
    <p>受付番号を入力してください</p>
    <div>
      <input type="text" name="entryNo" />
      <input type="button" name="sendEntryNo" value="送信" disabled />
    </div>
  </div>

  <div class="area loading" style="display:none">
    <img src="img/loading.gif" width="100%" />
  </div>

  <div class="area passCode" style="display:none">
    <p>確認のメールを送信しました。記載されているパスコード(数字6桁)を入力してください。<br>
    ※まれに迷惑メールと判定される場合があります。メールが来ない場合、そちらもご確認ください。</p>
    <input type="text" name="passCode" />
    <input type="button" name="sendPassCode" value="送信" disabled />
    <p>※パスコードの有効期限は1時間です</p>
  </div>
  <div class="area message" style="display:none"></div>
</div-->
</div><!-- 終了：HTML領域 -->

<div><!-- 開始：Script領域 -->
<!-- 外部Script -->
<!-- 自作ライブラリ -->
<!-- webApp利用時： srcのみ必要。パスはcomponentが起点
  コンソール利用時：class="onConsole" data-embedが必要。data-embedの起点はtools -->
<script type="text/javascript" src="createElement.js" class="onConsole"
  data-embed="../component/createElement.js"></script>
<script type="text/javascript" src="mergeDeeply.js" class="onConsole"
  data-embed="../component/mergeDeeply.js"></script>
<script type="text/javascript" src="whichType.js" class="onConsole"
  data-embed="../component/whichType.js"></script>

<script type="text/javascript" class="core">/* コアScript */
/**
 * @typedef {Object} AuthOpt
 * @prop {string} [entryNo] - 受付番号(ID)
 * @prop {string} [passWord] - パスワード
 * @prop {string} [header=''] - 受付番号入力画面に表示するheaderのinnerHTML
 * @prop {string} [entryNoMessage='受付番号を入力してください'] - 受付番号入力画面に表示するメッセージ
 * @prop {string} [entryNoButton='送信'] - 受付番号入力画面のボタンのラベル
 * @prop {RegExp} [entryNoRegExp=/^[0-9]{1,4}$/] - 受付番号チェック用正規表現
 */

/**
 * @classdesc 入力されたID/PWと登録情報を突合し、IDに紐づく各種情報を返す
 * 
 * - パスコード(passCode) : 受付番号入力後受信したメールに記載された番号
 * - パスワード(passWord) : 鍵ペア生成の際、秘密鍵の基となる文字列
 */
class Auth {
  /**
   * @constructor
   * @param {string} [parentSelector='body'] - 親要素のCSSセレクタ
   * @param {AuthOpt} [opt={}] - 生成時オプション
   */
  constructor(parentSelector,opt={}){
    const v = {rv:null};
    console.log('Auth.constructor start.');
    try {

      // 1.オプション未定義項目の既定値をプロパティにセット
      this.#setProperties(this,{
        parentWindow: document.querySelector(parentSelector), // 親画面
        parentSelector: parentSelector, // 親画面のCSSセレクタ
        entryNo: null,  // {string} - 受付番号
        passWord: null, // {string} - パスワード
        entryNo:{ // 受付番号関係
          element: null, // {HTMLElement} - 画面の要素
          value: null,  // {string} - 受付番号
          header:'',    // {string} - 受付番号入力画面に表示するheaderのinnerHTML
          msg1:'受付番号を入力してください', // {string} - 入力欄の前に表示するメッセージ
          button:'送信',  // {string} - 受付番号入力画面のボタンのラベル
          msg2:'',      // {string} - 入力欄の後に表示するメッセージ
          rex:/^[0-9]{1,4}$/, // {RegExp} - 受付番号チェック用正規表現
        },
        passCode:{
          element: null, // {HTMLElement} - 画面の要素
          value: null,  // {string} - パスコード
          header:'',    // {string} - パスコード入力画面に表示するheaderのinnerHTML
          msg1:'確認のメールを送信しました。記載されているパスコード(数字6桁)を入力してください。<br>'
          + '※まれに迷惑メールと判定される場合があります。メールが来ない場合、そちらもご確認ください。',
                        // {string} - 入力欄の前に表示するメッセージ
          button:'送信',  // {string} - 受付番号入力画面のボタンのラベル
          msg2: '※パスコードの有効期限は1時間です',
          rex:/^[0-9]{1,4}$/, // {RegExp} - 受付番号チェック用正規表現
        },
      },opt);
      console.log('this:',this);

      // 2.各種画面を用意する
      this.#setWindows();

      // 2.entryNo(ID)が未定義なら画面から入力
      if( this.entryNo.value === null )
        this.#getEntryNo();

      // 2.ID/PW入力画面を作成
      //this.authDiv = this.#setupScreen();
      //document.querySelector(parentSelector).appendChild(this.authDiv);

      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.constructor end.');
      return v.rv;
    } catch(e){
      console.error('Auth.constructor abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack); 
      throw e; //以降の処理を全て停止
    }
  }

  /** 既定値を設定する
   * @param {AuthOpt} opt - 生成時オプションとして渡された値
   * @returns {void}
   */
  #setProperties(dest,def,opt){
    const v = {rv:true};
    console.log('Auth.#setProperties start.');
    try {

      for( let key in def ){
        if( whichType(def[key]) !== 'Object' ){
          dest[key] = opt[key] || def[key]; // 配列はマージしない
        } else {
          if( !dest.hasOwnProperty(key) ) dest[key] = {};
          this.#setProperties(dest[key],def[key],opt[key]||{});
        }
      }

      //console.log('this='+JSON.stringify(this));
      console.log('Auth.#setProperties end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#setProperties abnormal end.',e);
      //if( typeof window !== 'undefined' ) alert(e.stack); 
      v.rv.stack = e.stack; return v.rv;
    }
  }

  /** Auth関係画面をセットする
   * 
   */
  #setWindows(){
    const v = {rv:null};
    console.log('Auth.#setWindows start.');
    try {
      // Auth関係画面のwrapper
      this.AuthWindow = createElement({
        style:{
          // CSSで全画面オーバーレイを実装する方法＆コード例
          // https://pisuke-code.com/css-fullscreen-overlay/
          position: "absolute",
          left: 0, top: 0,
          width: "100%", height:"100%",
          background:"#fff",
          zIndex:2147483647,  // z-indexの最大値
        },
      });

      // 受付番号入力画面
      this.entryNo.element = createElement({
        children:[
          {html:this.entryNo.header}, // タイトル
          {tag:'p',html:this.entryNo.msg1},  // 入力欄前メッセージ
          { // inputBox
            tag:'input',
            attr:{type:'text',name:'entryNo'},
            event:{'input':()=>{}},
          },
          { // 送信ボタン
            tag:'input',
            attr:{
              type:'button',
              name:'entryNoButton',
              value:this.entryNo.button,disabled:true
            },
          },
          {tag:'p',html:this.entryNo.msg2},  // 入力欄後メッセージ
        ],
      });

      // ローディング画面
      this.loading = {element:createElement({
        style:{
          display:"flex",
          justifyContent:"center",
          alignItems:"center",
          height:"100%",
          width:"100%",
        },
        children:[
          {
            attr:{class:'loading5'},
            style:{ // 点の大きさと色
              "--dot-size":"2rem",
              "--R":0,
              "--G":0,
              "--B":0,
            },
            text:'loading...'
          },
        ],
      })};

      // パスコード入力画面
      this.passCode.element = createElement({
        children:[
          {html:this.passCode.header}, // タイトル
          {tag:'p',html:this.passCode.msg1},  // 入力欄前メッセージ
          { // inputBox
            tag:'input',
            attr:{type:'text',name:'passCode'},
            event:{'input':()=>{}},
          },
          { // 送信ボタン
            tag:'input',
            attr:{
              type:'button',
              name:'passCodeButton',
              value:this.passCode.button,disabled:true
            },
          },
          {tag:'p',html:this.passCode.msg2},  // 入力欄後メッセージ
        ],
      });

      // 画面をセット
      this.parentWindow.appendChild(this.AuthWindow);
      this.AuthWindow.appendChild(this.entryNo.element);
      this.AuthWindow.appendChild(this.loading.element);
      this.AuthWindow.appendChild(this.passCode.element);

      // 入力された受付番号をプロパティに登録

      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.#setWindows end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#setWindows abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack); 
      v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }

  }

  #getEntryNo(){
    const v = {rv:null};
    console.log('Auth.#getEntryNo start.');
    try {

      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.#getEntryNo end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#getEntryNo abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      if( typeof window !== 'undefined' ) alert(e.stack); 
      //throw e; //以降の処理を全て停止する場合
      v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }

  }

}

</script>

<script type="text/javascript" class="test">/* テスト用 */
function AuthTest(){
  const v = {data:[]};
  console.log('AuthTest start.');
  try {
    v.conf = new Auth('body',{
      entryNoWindow:{
        header:'<h1>受付番号入力</h1>',
      }
    });
    console.log('AuthTest end.');

  } catch(e){
    console.error('AuthTest abnormal end.',e);
  }
}
</script>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded',() => {
  AuthTest();  // 開発者コンソール上でテスト
});
</script>
</div><!-- 終了：Script領域 -->
</body></html>