<!DOCTYPE html><html xml:lang="ja" lang="ja"><head>
<title>Auth</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- 自作CSS -->
<link rel="stylesheet" type="text/css" href="szLib.css" />
<link rel="stylesheet" type="text/css" href="loading.css" class="core"
  data-embed="../component/loading.css" />
<style type="text/css" class="core">/* コアCSS */
</style>
<!-- 外部Script -->
<!-- 共通鍵暗号化：cryptoJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/enc-base64.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/cipher-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/aes.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/hmac.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/pbkdf2.min.js"></script>
<!-- 自作ライブラリ -->
<!-- webApp利用時： srcのみ必要。パスはcomponentが起点
  コンソール利用時：class="onConsole" data-embedが必要。data-embedの起点はtools -->
<script type="text/javascript" src="createElement.js" data-embed="../component/createElement.js"></script>
<script type="text/javascript" src="createPassword.js" data-embed="../component/createPassword.js"></script>
<script type="text/javascript" src="cryptoAES.js" data-embed="../component/cryptoAES.js"></script>
<script type="text/javascript" src="../external/cryptico.min.js" data-embed="../external/cryptico.min.js"></script>
<script type="text/javascript" src="mergeDeeply.js" data-embed="../component/mergeDeeply.js"></script>
<script type="text/javascript" src="whichType.js" data-embed="../component/whichType.js"></script>
</head><body>
  <div>
    <h1>だみぃ</h1>
    <p>これはログイン後に表示される初期画面です。</p>  
  </div>

<script type="text/javascript" class="core">/* コアScript */
/**
 * @typedef {Object} AuthProp - AuthOpt以外のAuthクラスプロパティ
 * @prop {number} constructorStart - constructor開始時刻(UNIX時間)
 * @prop {string} parentSelector - 親画面のCSSセレクタ
 * @prop {HTMLElement} parentWindow - 親画面のHTML要素
 * @prop {HTMLElement} AuthWindow - Auth関係画面のwrapper
 * @prop {HTMLElement} loading - ローディング画面のHTML要素
 */

/**
 * @typedef {Object} AuthOpt
 * @prop {string} [entryNo] - 受付番号(ID)
 * @prop {string} [passWord] - パスワード
 * @prop {string} [header=''] - 受付番号入力画面に表示するheaderのinnerHTML
 * @prop {string} [entryNoMessage='受付番号を入力してください'] - 受付番号入力画面に表示するメッセージ
 * @prop {string} [entryNoButton='送信'] - 受付番号入力画面のボタンのラベル
 * @prop {RegExp} [entryNoRegExp=/^[0-9]{1,4}$/] - 受付番号チェック用正規表現
 */

/**
 * @classdesc 入力されたID/PWと登録情報を突合し、IDに紐づく各種情報を返す
 *
 * - パスコード(passCode) : 受付番号入力後受信したメールに記載された番号
 * - パスワード(passWord) : 鍵ペア生成の際、秘密鍵の基となる文字列
 * 
 */
class Auth {
  /**
   * @constructor
   * @param {string} gatewayUrl - 認証局APIのURL
   * @param {AuthOpt} [opt={}] - 生成時オプション
   * @returns {void} なし
   * 
   * ## 処理概要
   * 
   * ```mermaid
   * sequenceDiagram
   *   autonumber
   *   actor mailer as メーラ
   *   actor browser as ブラウザ
   *   participant gateway as 認証局
   *   participant master as 管理局
   *   participant httpd as httpd
   * 
   *   %% 受付番号入力
   *   mailer ->> httpd : 事前に送信された案内メールのリンクをクリック
   *   httpd ->> browser : ページファイル(index.html)
   *   activate browser
   *   Note right of browser: constructor()
   *   Note right of browser: getEntryNo()
   * 
   *   browser ->> gateway : 受付番号、CP(平文)
   *   activate gateway
   *   Note right of gateway : auth1A()
   * 
   *   gateway ->> master : 受付番号、CP(GS/MP)
   *   activate master
   *   Note right of master : auth1B()
   *   master ->> mailer : パスコード
   *   activate mailer
   * 
   *   master ->> gateway : 申請登録結果
   *   deactivate master
   * 
   *   gateway ->> browser : 申請登録結果
   *   deactivate gateway
   *   browser ->> browser : GP格納、パスコード入力画面表示
   *   deactivate browser
   * 
   * 
   *   %% パスコード入力
   *   mailer ->> browser : パスコード入力
   *   deactivate mailer
   *   activate browser
   *   Note right of browser : getPassCode()
   *   browser ->> gateway : 受付番号、パスコード(CS/GP)
   *   activate gateway
   *   Note right of gateway : auth2A
   *   gateway ->> master : 受付番号、パスコード、CP(GS/MP)
   *   activate master
   *   Note right of master : auth2B
   *   master ->> gateway : 利用者情報
   *   deactivate master
   *   gateway ->> browser : 利用者情報,CK
   *   deactivate gateway
   *   browser ->> browser : 初期画面表示
   *   deactivate browser
   * 
   * ```
   * 
   * - 文中の記号は以下の通り
   *   - CK:共通鍵(Common Key)
   *   - CP:利用者公開鍵(Client Public key)、CS:利用者秘密鍵(Client Secret key)
   *   - GP:認証局公開鍵(Gateway Public key)、GS:認証局秘密鍵(Gateway Secret key)
   *   - FP:配信局公開鍵(Front Public key)、FS:配信局秘密鍵(Front Secret key)
   *   - MP:管理局公開鍵(Master Public key)、MS:管理局秘密鍵(Master Secret key)
   *   - (xS/yP) = XX局秘密鍵で署名、YY局公開鍵で暗号化した、XX->YY宛の通信<br>
   *     例：(GS/MP) ⇒ GS(認証局秘密鍵)で署名、MP(管理局公開鍵)で暗号化
   * - (02) constructor() : DOMContentLoaded時、以下の処理を実行
   *   1. 利用者の秘密鍵(以下CSkey)・公開鍵(以下CPkey)を生成
   *   1. getEntryNo()を呼び出し
   * - (02) getEntryNo() : 受付番号入力
   *   1. 受付番号入力画面を表示(z-indexを最大にして他の画面を触らせない)
   *   1. 入力後待機画面表示、レスポンスがあったらgetPassCode()を呼び出し
   * - (03) auth1A() : 認証申請の受付
   *   1. 受付番号とCPをauth1Bに送信
   *   1. auth1Bの申請結果を受けたらブラウザに結果を送信<br>
   *      申請OKの場合はGPも併せて送信
   * - (04) auth1B() : 認証申請の登録
   *   1. 受付番号とCPをシートに書き込み
   *   1. 正当性を検証
   *      - パスコードが一致
   *      - パスコード発行日時から1時間以内
   *      - 3回連続失敗後1時間以上経過
   *   1. 正当だった場合はパスコードを生成、シートに書き込み
   *   1. 申請者にパスコードを通知(05)
   *   1. 申請登録の結果をauth1Aに返す
   * - (09) getPassCode() : パスコード入力
   *   1. パスコード入力画面を表示
   *   1. パスコードが入力されたらauth2Aに送信
   *   1. auth2Aからレスポンスがあったらthisに保存、初期画面を表示
   * - (10) auth2A
   *   1. 受付番号・パスコード・CPkeyを管理局に送信
   *   1. 利用者情報をauth2Bから受けたらFPを追加して利用者に返す
   * - (12) auth2B
   *   1. 送信された受付番号・パスコード・CPkeyが有効か、シートの申請登録と突合
   *   1. OKなら利用者情報をauth2Aに返す
   */
  constructor(gatewayUrl,opt={}){
    const v = {rv:null};
    console.log('Auth.constructor start.');
    try {
      this.constructorStart = Date.now();

      // 1.オプション未定義項目の既定値をプロパティにセット
      this.#setProperties(this,null,opt);
      console.log('this:',this);
      console.log(Date.now()-this.constructorStart);

      // 2.必須項目をプロパティに保存
      this.gateway.url = gatewayUrl;  // 認証局のURL
      console.log(Date.now()-this.constructorStart);

      // 3.各種画面を用意する
      //   ※鍵ペア生成で時間がかかるので、先に待機画面を表示
      this.#setWindows();
      // 初期画面として待機画面を表示
      this.#changeScreen('loading');
      console.log(Date.now()-this.constructorStart);

      // 4.秘密鍵・公開鍵を作成し、プロパティに格納する
      this.#setupKeys();
      console.log(Date.now()-this.constructorStart);

      // 5.非同期の初期化処理を呼出
      this.#changeScreen('entryNo');
      //this.build();

      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.constructor end.');
      return v.rv;
    } catch(e){
      console.error('Auth.constructor abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack);
      throw e; //以降の処理を全て停止
    }
  }

  /** 既定値を設定する
   * @param {AuthOpt} opt - 生成時オプションとして渡された値
   * @returns {void}
   */
  #setProperties(dest,def,opt){
    const v = {rv:true,def:{
      parentSelector: "body", // {string} - 親要素のCSSセレクタ
      RSA:{  // 自局のRSAキー関係情報
        bits: 1024,     // {number} - RSAキー長
        passWord: null, // {string} - パスワード
        pwLength: 32,   // {number} - 自動生成する場合のパスワード文字数
        sKey: null,     // {RSAKey} - 秘密鍵
        pKey: null,     // {string} - 公開鍵
      },
      commonKey: null,  // 共通鍵
      info: null, // 管理局から取得する参加者情報
      gateway:{ // 認証局関連情報
        url: null,  // {string} - APIのURL
        pKey: null, // {string} - 公開鍵
      },
      front: {  // 配信局関連情報
        url: null,  // {string} - APIのURL
        pKey: null, // {string} - 公開鍵
      },
      AuthWindow: {
        element: null, // {HTMLElement} - 受付番号入力画面の要素。setWindowsで設定。
        zIndex: 2147483646,  // z-indexの最大値-1
      },
      entryNo:{ // 受付番号関係
        element: null, // {HTMLElement} - 受付番号入力画面の要素。setWindowsで設定。
        value: '',  // {string} - 受付番号
        header:'',    // {string} - 受付番号入力画面に表示するheaderのinnerHTML
        msg1:'受付番号を入力してください', // {string} - 入力欄の前に表示するメッセージ
        button:'送信',  // {string} - 受付番号入力画面のボタンのラベル
        msg2:'',      // {string} - 入力欄の後に表示するメッセージ
        rex:/^[0-9]{1,4}$/, // {RegExp} - 受付番号チェック用正規表現
      },
      loading: {
        element: null,
        zIndex: 2147483647,  // z-indexの最大値
      },
      passCode:{
        element: null, // {HTMLElement} - パスコード入力画面の要素。setWindowsで設定。
        //value: null,  // {string} - パスコード
        header:'',    // {string} - パスコード入力画面に表示するheaderのinnerHTML
        msg1:'確認のメールを送信しました。記載されているパスコード(数字6桁)を入力してください。<br>'
        + '※まれに迷惑メールと判定される場合があります。メールが来ない場合、そちらもご確認ください。',
                      // {string} - 入力欄の前に表示するメッセージ
        button:'送信',  // {string} - パスコード入力画面のボタンのラベル
        msg2: '※パスコードの有効期限は1時間です',
        rex:/^[0-9]{6}$/, // {RegExp} - パスコードチェック用正規表現
      },
    }};
    console.log('Auth.#setProperties start.');
    try {
      if( def !== null ){ // 2回目以降の呼出(再起呼出)
        // 再起呼出の場合、呼出元から渡された定義Objを使用
        v.def = def;
      }

      for( let key in v.def ){
        if( whichType(v.def[key]) !== 'Object' ){
          dest[key] = opt[key] || v.def[key]; // 配列はマージしない
        } else {
          if( !dest.hasOwnProperty(key) ) dest[key] = {};
          this.#setProperties(dest[key],v.def[key],opt[key]||{});
        }
      }

      if( def === null ){ // 初回呼出(非再帰)
        // 親画面のHTML要素を保存
        this.parentWindow = document.querySelector(this.parentSelector);
      }

      //console.log('this='+JSON.stringify(this));
      console.log('Auth.#setProperties end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#setProperties abnormal end.',e);
      //if( typeof window !== 'undefined' ) alert(e.stack);
      v.rv.stack = e.stack; return v.rv;
    }
  }

  /** 秘密鍵・公開鍵を作成し、プロパティに格納する
   * @param {void}
   * @returns {void}
   */
  #setupKeys(){
    const v = {rv:null};
    console.log('Auth.#setupKeys start.');
    try {
      // パスワード未指定なら作成
      if( this.RSA.passWord === null ){
        this.RSA.passWord = createPassword(this.RSA.pwLength);
      }

      // 鍵ペアの生成
      this.RSA.sKey = cryptico.generateRSAKey(this.RSA.passWord, this.RSA.bits);
      this.RSA.pKey = cryptico.publicKeyString(this.RSA.sKey);
      //console.log(this.RSA);

      // 秘密鍵の保存
      //Fs.writeFileSync('./private.json', JSON.stringify(key.toJSON()));

      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.#setupKeys end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#setupKeys abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      if( typeof window !== 'undefined' ) alert(e.stack); 
      //throw e; //以降の処理を全て停止する場合
      v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }
  }

  /** Auth関係画面をセットする
   *
   */
  #setWindows(){
    const v = {rv:null};
    console.log('Auth.#setWindows start.');
    try {
      // Auth関係画面のwrapper
      this.AuthWindow.element = createElement({
        attr:{name:"AuthWindow"},
        style:{
          // CSSで全画面オーバーレイを実装する方法＆コード例
          // https://pisuke-code.com/css-fullscreen-overlay/
          display: "block",
          position: "absolute",
          left: 0, top: 0,
          width: "100%", height:"100%",
          background:"#fff",
          zIndex:this.AuthWindow.zIndex,
        },
      });

      // 受付番号入力画面
      this.entryNo.element = createElement({
        children:[
          {html:this.entryNo.header}, // タイトル
          {tag:'p',html:this.entryNo.msg1},  // 入力欄前メッセージ
          { // inputBox
            tag:'input',
            attr:{type:'text',name:'entryNo',value:this.entryNo.value},
            event:{'input':(event)=>{
              // 入力値チェック
              const m = event.target.value.match(this.entryNo.rex);
              console.log('m',m);
              const b = document.querySelector('div[name="AuthWindow"] input[name="entryNoButton"]');
              if( m ){
                b.removeAttribute('disabled');
              } else {
                b.setAttribute('disabled',true);
              }
            }},
          },
          { // 送信ボタン
            tag:'input',
            attr:{
              type:'button',
              name:'entryNoButton',
              value:this.entryNo.button,
            },
            logical:{
              disabled: this.entryNo.value.match(this.entryNo.rex) ? false : true,
            },
            event:{'click':()=>this.getEntryNo()},
          },
          {tag:'p',html:this.entryNo.msg2},  // 入力欄後メッセージ
        ],
      });

      // ローディング画面
      // ※ 受付番号・パスコード入力を隠蔽するため
      //   loading.zIndex > AuthWindow.zIndex とする。
      this.loading = {element:createElement({
        style:{
          position: "absolute",
          left: 0, top: 0,
          width: "100%", height:"100%",
          background:"#fff",
          zIndex:this.loading.zIndex,
        },
        children:[
          {
            style:{
              display:"flex",
              width:"100%",
              height:"100%",
              background:"#fff",
              justifyContent:"center",
              alignItems:"center",
            },
            children:[
              {
                attr:{class:'loading5'},
                style:{ // 点の軌道/大きさ/色
                  //"--dot-size":"4rem",
                  //"--m0:3.2rem",
                  "--R":0,
                  "--G":0,
                  "--B":0,
                },
                text:'loading...'
              },
            ],
          }
        ],
      })};

      // パスコード入力画面
      this.passCode.element = createElement({
        children:[
          {html:this.passCode.header}, // タイトル
          {tag:'p',html:this.passCode.msg1},  // 入力欄前メッセージ
          { // inputBox
            tag:'input',
            attr:{type:'text',name:'passCode',value:''},
            event:{'input':(event)=>{
              // 入力値チェック
              const m = event.target.value.match(this.passCode.rex);
              console.log('m',m);
              const b = document.querySelector('div[name="AuthWindow"] input[name="passCodeButton"]');
              if( m ){
                b.removeAttribute('disabled');
              } else {
                b.setAttribute('disabled',true);
              }
            }},
          },
          { // 送信ボタン
            tag:'input',
            attr:{
              type:'button',
              name:'passCodeButton',
              value:this.passCode.button,disabled:true
            },
            event:{'click':()=>this.getPassCode()},
          },
          {tag:'p',html:this.passCode.msg2},  // 入力欄後メッセージ
        ],
      });

      // 画面をセット
      this.parentWindow.appendChild(this.AuthWindow.element);
      this.AuthWindow.element.appendChild(this.entryNo.element);
      this.AuthWindow.element.appendChild(this.loading.element);
      this.AuthWindow.element.appendChild(this.passCode.element);

      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.#setWindows end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#setWindows abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack);
      v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }

  }

  /** Auth関係画面の切り替え
   * @param {string} screenId - 画面ID。open/close->AuthWindowの開閉、他は指定ウィンドウの表示
   * @returns {void}
   */
  #changeScreen(screenId){
    const v = {rv:true};
    console.log('Auth.#changeScreen start. screenId='+screenId);
    try {

      if( screenId === 'close' ){
        this.AuthWindow.element.style.display = 'none';
      } else {
        this.AuthWindow.element.style.display = '';
        ['entryNo','loading','passCode'].forEach(x => {
          this[x].element.style.display = x === screenId ? '' : 'none';
        });
      }

      console.log('Auth.#changeScreen end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#changeScreen abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack);
      //throw e; //以降の処理を全て停止する場合
      v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }

  }

  /** entryNo(ID)を認証局に送信
   * @param {void}
   * @returns {void}
   */
  async getEntryNo(){
    const v = {rv:null,data:{cp:this.RSA.pKey}};
    console.log('Auth.getEntryNo start.');
    try {

      v.step = '1'; // 入力フォームから値を取得
      this.#changeScreen('loading');
      this.entryNo.value = this.entryNo.element.querySelector('input').value;
      v.arg = { // auth1Aに渡す引数
        entryNo: this.entryNo.value,
        publicKey: this.RSA.pKey,
      }
      console.log('arg',v.arg);

      v.step = '2'; // fetch
      v.rv = await this.#fetchFromClient('auth1A',v.arg,0);
      //if( v.rv instanceof Error ) throw v.rv;
      if( v.rv.isErr ){
        this.#changeScreen('entryNo');
      } else {
        this.gateway.pKey = v.rv.result;
        console.log('this.gateway.pKey='
          + JSON.stringify(this.gateway.pKey));
        this.#changeScreen('passCode');
      }

      console.log('Auth.getEntryNo end.');
      return v.rv;
    } catch(e){
      console.error('Auth.getEntryNo abnormal end.',e);
      return e;
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack);
      //throw e; //以降の処理を全て停止する場合
      //v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }
  }

  /** メールから入力したpassCodeを認証局に送信
   * @param {void}
   * @returns {void}
   */
  async getPassCode(){
    const v = {rv:null,data:{cp:this.RSA.pKey}};
    console.log('Auth.getPassCode start.');
    try {

      // 入力フォームから値を取得
      this.#changeScreen('loading');
      v.arg = { // auth1Bに渡す引数
        entryNo: this.entryNo.value,
        passCode: this.passCode.element.querySelector('input').value,
      }
      console.log('arg',v.arg);
      v.rv = await this.#fetchFromClient('auth2A',v.arg,3);
      if( v.rv instanceof Error ) throw v.rv;
      if( v.rv.isErr ){
        console.log(v.rv);
        if( v.rv.result ){
          this.#changeScreen('entryNo');
        } else {
          this.#changeScreen('passCode');
        }
      } else {
        // 申請者情報と共通鍵を格納
        this.commonKey = v.rv.result.common;
        this.info = v.rv.result.info;
        console.log('commonKey='+this.commonKey,'info',this.info);
        // パスコード入力画面を閉じる
        this.#changeScreen('close');
      }

      console.log('Auth.getPassCode end.');
      return v.rv;
    } catch(e){
      console.error('Auth.getPassCode abnormal end.',e);
      return e;
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack);
      //throw e; //以降の処理を全て停止する場合
      //v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }
  }

  /** GASのAPI(doPost)を呼び出す
   * @param {string} to - 呼び先(gateway or front)
   * @param {string} func - 呼び先関数名(auth1A等)
   * @param {Object} data - 呼び先関数に渡すデータオブジェクト
   * @returns {Object} 呼び先からの戻り値
   * 
   * - JS: [Async/await](https://ja.javascript.info/async-await)
   * - MDN: [フェッチが成功したかの確認](https://developer.mozilla.org/ja/docs/Web/API/Fetch_API/Using_Fetch#%E3%83%95%E3%82%A7%E3%83%83%E3%83%81%E3%81%8C%E6%88%90%E5%8A%9F%E3%81%97%E3%81%9F%E3%81%8B%E3%81%AE%E7%A2%BA%E8%AA%8D)
   * - MDN: [fetch()](https://developer.mozilla.org/ja/docs/Web/API/fetch)
   * - MDN: [Response Object](https://developer.mozilla.org/ja/docs/Web/API/Response)
   * - Qiita: [Fetch APIでネットワークエラーも含めてエラーハンドリングする](https://qiita.com/IzumiSy/items/031df1df4f4541e536b4)
   */
  async #fetchFromClient(fc,arg,md=0){
    const v = {rv:null,data:{cp:this.RSA.pKey}};
    console.log('Auth.#fetchFromClient start.');
    try {

      v.step = '1'; // 送信するトークンを生成
      v.token = {
        fm: this.entryNo.value,
        to: 'gateway',
        md: md,
        ts: Date.now(),
        dt: {
          fc: fc,
          arg: arg,
        }
      };
      console.log('v.token',v.token);

      v.step = '2'; // 暗号化・署名
      if( md === 1 ){ // 共通鍵で暗号化
        v.token.dt = encryptAES(
          JSON.stringify(v.token.dt),this.commonKey);
      } else if( md === 2 || md === 3 ){
        v.plaintext = JSON.stringify(v.token.dt);
        v.encode = encodeURI(v.plaintext);
        v.encrypt = md === 2  // 2:署名無し暗号化、3:署名付き暗号化
        ? cryptico.encrypt(v.encode,this.gateway.pKey)
        : cryptico.encrypt(v.encode,this.gateway.pKey,this.RSA.sKey);
        console.log('encrypt',v.encrypt);
        if( v.encrypt.status !== 'success' )
          throw new Error(JSON.stringify(v.encrypt));
        v.token.dt = v.encrypt.cipher;
      }
      console.log('v.token',v.token);

      v.step = '3'; // fetch
      v.fetch = await fetch(this.gateway.url,{
        "method": "POST",
        "body": JSON.stringify(v.token),
        "Accept": "application/json",
        "Content-Type": "application/json",
      });
      v.rv = await v.fetch.json();
      console.log(v.rv);
      if( v.rv instanceof Error ) throw v.rv;
      if( v.rv.isErr ){
        console.error(
          'Auth.#fetchFromClient abnormal end.'
          + '\n' + v.rv.message
          + '\n' + v.rv.stack
        );
        alert(v.rv.message);
      }

      console.log('Auth.#fetchFromClient normal end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#fetchFromClient abnormal end.',e);
      return e;
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack);
      //throw e; //以降の処理を全て停止する場合
      //v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }
  }
}

</script>

<script type="text/javascript" class="GAS">/* GAS用スクリプト */
/**
 * @typedef {Object} token - doPostからpreProcessに渡されるオブジェクト
 * @prop {string} fm - 発信者名(gateway/master/受付番号)
 * @prop {string} to - 宛先名(gateway/master)
 * @prop {number} md - モード。0:平文、1:共通鍵、2:RSA署名無し、3:RSA署名有り
 * @prop {number} ts - 発信日時(new Date().getTime())
 * @prop {string} dt - 以下の要素をJSON化した上で暗号化した文字列(cipher)
 * @prop {string} dt.fc - 呼出先の処理名(ex."auth1A")
 * @prop {any} dt.arg - 呼出先の処理に渡す引数
 */

/**
 * @typedef {Object} AuthArg - preProcessからauth1A/1B/2A/2Bに渡されるオブジェクト
 * @prop {string} fm - 発信者名(gateway/master/受付番号)
 * @prop {string} to - 宛先名(gateway/master)
 * @prop {number} md - モード。0:平文、1:共通鍵、2:RSA署名無し、3:RSA署名有り
 * @prop {number} ts - 発信日時(new Date().getTime())
 * @prop {string} fc - 復号化済の呼出先の処理名(ex."auth1A")
 * @prop {any}    dt - 呼出先の処理に渡す引数。復号化済のtoken.dt.arg
 * @prop {string} signature - 以下はpreProcessでの追加項目。署名付き暗号化だった場合、"verified" or "undefined"
 * @prop {string} pKey - 署名付き暗号化だった場合、署名検証で取得した発信者の公開鍵
 * @prop {Date}   lastAccess - 最終アクセス日時(RASシート再計算用再設定項目)
 * @prop {string} name - 自局名
 * @prop {string} passPhrase - 自局のパスワード
 * @prop {string} publicKey - 自局の公開鍵
 * @prop {string} masterAPI/gatewayAPI - 相手局のAPI
 * @prop {string} master/gateway - 相手局の公開鍵
 * @prop {string} common - 共通鍵(認証局のみ)
 * @prop {string} random - パスコード(管理局のみ)
 */

/**
 * @typedef {Object} fetchResponse - auth1A/1B/2A/2BからpreProcess経由で呼出元に返されるオブジェクト
 * @prop {boolean} isErr - エラーならtrue
 * @prop {string} message='' - 処理結果に対するメッセージ
 * @prop {string} stack='' - エラーオブジェクトのスタック
 * @prop {any} result - 処理結果
 */

/** doPostの内容を受けて処理を分岐
 * @param {token} token - doPostから渡されたトークン
 * @returns {fetchResponse} 処理結果
 */
 function preProcess(token){
  const v = {whois:'preProcess',step:'0',arg:{},rv:null};
  console.log(v.whois+' start.',whichType(token),token);
  try {
    v.arg = JSON.parse(token);

    v.step = '1'; // 発信から3分以内でないとエラー
    v.now = Date.now();
    if( v.arg.ts > v.now || (v.now - v.arg.ts) > 180000 ){
      throw new Error("Invalid Token: timeout");
    }

    v.step = '2'; // RSAシートの読み込み
    v.sheet = SpreadsheetApp.getActive().getSheetByName('RSA');
    v.step = '2.1'; // 再計算用にセル値を更新
    v.sheet.getRange('b1').setValue(new Date());
    SpreadsheetApp.flush();
    v.step = '2.2'; // RSAシートの値をv.argにセット
    v.values = v.sheet.getDataRange().getValues();
    for( v.i=0 ; v.i<v.values.length ; v.i++ ){
      if( String(v.values[v.i][0]).length > 0 ){
        v.arg[v.values[v.i][0]] = v.values[v.i][1];
      }
    }
    v.arg.RSAkey = cryptico.generateRSAKey(v.arg.passPhrase,1024);
    console.log('v.arg',v.arg);

    v.step = '3'; // 暗号化されていた場合は復号
    if( v.arg.md > 0 ){
      if( v.arg.md === 1 ){ // 共通鍵方式
        v.arg.dt = JSON.parse(decryptAES(v.arg.dt,v.arg.common));
      } else {
        v.decrypt = cryptico.decrypt(v.arg.dt,v.arg.RSAkey);
        if( v.decrypt.signature !== 'verified' ){
          throw new Error("Invalid Token: decrypt failed."
          + "\ndecrypt: " + JSON.stringify(v.decript)
          + "\nv.arg["+v.arg.fm+"]: " + v.arg[v.arg.fm]
          );
        }
        v.arg.signature = v.decrypt.signature;
        v.arg.pKey = v.decrypt.publicKeyString;
        v.arg.dt = JSON.parse(decodeURI(v.decrypt.plaintext));
      }
    }
    v.arg.fc = v.arg.dt.fc;
    v.arg.dt = v.arg.dt.arg;

    /*
    v.arg.fc = v.arg.dt.fc;
    v.arg.dt = v.arg.dt.arg;
    if( v.arg.md > 0 ){
      if( v.arg.md === 1 ){ // 共通鍵方式
        v.arg.dt = JSON.parse(decryptAES(v.arg.dt,v.arg.common));
      } else {              // RSA方式
        v.decrypt = cryptico.decrypt(v.arg.dt,v.arg.RSAkey);
        if( v.decrypt.signature !== 'verified' ){
          throw new Error("Invalid Token: decrypt failed."
          + "\ndecrypt: " + JSON.stringify(v.decript)
          + "\nv.arg["+v.arg.fm+"]: " + v.arg[v.arg.fm]
          );
        }
        v.arg.signature = v.decrypt.signature;
        v.arg.pKey = v.decrypt.publicKeyString;
        v.arg.dt = JSON.parse(decodeURI(v.decrypt.plaintext));
      }
    }*/
    console.log('v.arg.dt',v.arg.dt);

    // auth1A: クライアントから認証局への接続要求
    v.step = '4.1';
    if( v.arg.to === 'gateway' && v.arg.fc === 'auth1A' ){
      v.step = 'call auth1A';
      v.rv = auth1A(v.arg);
    }

    // auth1B: 認証局から管理局にパスコード通知依頼
    v.step = '4.2';
    if( v.arg.to === 'master' && v.arg.fc === 'auth1B' ){
      v.step = 'call auth1B';
      v.rv = auth1B(v.arg);
    }

    // auth2A: クライアントから認証局にパスコード入力
    v.step = '4.3';
    if( v.arg.to === 'gateway' && v.arg.fc === 'auth2A' ){
      v.step = 'call auth2A';
      v.rv = auth2A(v.arg);
    }

    // auth2B: 認証局から管理局にパスコード連絡、管理局で判定
    v.step = '4.4';
    if( v.arg.to === 'master' && v.arg.fc === 'auth2B' ){
      v.step = 'call auth2B';
      v.rv = auth2B(v.arg);
    }

    v.step = '5';
    console.log(v.whois+' normal end.',v.rv);
    return v.rv;
  } catch(e){
    console.error(v.whois+' abnormal end(step.'+v.step+').',e.stack,v);
  }
}

/** 認証局での認証の第一段階
 * @param {AuthArg} arg - クライアントの受付番号、公開鍵他
 * @returns {string} 認証局の公開鍵(fetchResponse.result)
 */
function auth1A(arg){
  const v = {whois:'認証局.auth1A',
    rv:{isErr:false,message:'',stack:'',result:null}};
  try {
    console.log(v.whois+' start.',arg.dt);

    v.step = '1.1'; // auth1B問合せ用にデータを暗号化
    v.dt = JSON.stringify({
      fc : 'auth1B',
      arg: {  // auth1B()に渡す引数
        entryNo  : arg.dt.entryNo,    // クライアントの受付番号
        publicKey: arg.dt.publicKey,  // 同公開鍵
      }
    });
    console.log('v.dt='+v.dt);
    
    v.step = '1.2'; // 暗号化。受付番号＋公開鍵なのでencodeURIは省略
    v.dt = cryptico.encrypt(v.dt,arg.master,arg.RSAkey);
    if( v.dt.status !== 'success' )
      throw new Error("auth1A encrypt failed.\n"+JSON.stringify(v.dt));

    v.step = '2.1'; // auth1Bに問い合わせ
    v.res = UrlFetchApp.fetch(arg.masterAPI,{
      'method': 'post',
      'contentType': 'application/json',
      'muteHttpExceptions': true, // https://teratail.com/questions/64619
      'payload' : JSON.stringify({
        fm: 'gateway',
        to: 'master',
        md: 3,  // 署名付き暗号化
        ts: Date.now(),
        dt: v.dt.cipher,
      }),  
    }).getContentText();
    console.log('res='+v.res);
    v.step = '2.2';
    v.rv = JSON.parse(v.res);

    if( !v.rv.isErr ){
      v.step = '3'; // auth1B正常終了なら認証局の公開鍵を返信
      v.rv.result = arg.publicKey;
    }

    v.step = '4';
    console.log(v.whois+' normal end.\n'+JSON.stringify(v.rv));
    return v.rv;

  } catch(e) {
    console.error(v.whois+' abnormal end.(at step.'+v.step+')\n'
    + e.message + '\n' + e.stack);
    console.error(JSON.stringify(v));
    v.rv.isErr = true;
    v.rv.message = e.message;
    v.rv.stack = e.stack;
    return v.rv;
  }
}

/** 管理局での認証の第一段階
 * @param {AuthArg} arg - クライアントの受付番号、公開鍵他
 * @returns {void} 特に無し(fetchResponse.isErrのみ必要)
 */
function auth1B(arg){
  const v = {whois:'管理局.auth1B',
    rv:{isErr:false,message:'',stack:'',result:null}};
  try {
    console.log(v.whois+' start.',arg.dt);

    v.step = '1'; // クライアント情報を抽出
    v.master = szSheet('master');
    v.client = v.master.lookup(arg.dt.entryNo,'entryNo');

    v.step = '2'; // 3回連続失敗後1時間以内ならチャレンジ不可判定
    if( String(v.client.NG2).length > 0 &&
      (Date.now() - v.client.NG2) < 3600000 ){
      v.rv = {
        isErr: true,
        message:'3回連続ログイン失敗後、1時間経過していません',
      };
      return v.rv;
    }

    v.step = '3'; // 該当受付番号にpassCode,publicKey登録
    v.master.update({
      publicKey: arg.dt.publicKey,  // クライアントの公開鍵
      passCode: arg.random, // パスコード
      genPassCode: new Date(),  // パスコード生成日時
      NG1:'',NG2:'',            // 不適切パスコード入力時刻をクリア
      certificate: '',  // 認証正常終了日時はクリア
    },{key:'entryNo',value:arg.dt.entryNo});

    v.step = '4'; // 申請者にpassCode連絡メール送信
    v.draft = GmailApp.createDraft(
      v.client['メールアドレス'],
      '[連絡]校庭キャンプ2023 パスコード',
      "パスコードは以下の通りです。\n\n" + arg.random,
      {
        //htmlBody: v.html,
        name: '下北沢小おやじの会',
      }
    );
    v.step = '4.1';
    GmailApp.getDraft(v.draft.getId()).send();
    console.log('Mail Remaining Daily Quota:'
      + MailApp.getRemainingDailyQuota());

    v.step = '5';
    console.log(v.whois+' normal end.\n'+JSON.stringify(v.rv));
    return v.rv;

  } catch(e) {
    console.error(v.whois+' abnormal end.(at step.'+v.step+')\n'
    + e.message + '\n' + e.stack);
    console.error(JSON.stringify(v));
    v.rv.isErr = true;
    v.rv.message = e.message;
    v.rv.stack = e.stack;
    return v.rv;
  }
}

/** 認証局での認証の第二段階
 * @param {AuthArg} arg - クライアントの受付番号、公開鍵他
 * @returns {Object} - fetchResponse.result={common:共通鍵,info:クライアント情報}
 * 
 * ## 注意事項
 * 
 * clientからのtokenは署名されているが、認証局はclientのpublicKeyを
 * 持たないので検証は省略し、そのまま管理局に送って管理局側で検証する。
 */
function auth2A(arg){
  const v = {whois:'認証局.auth2A',
    rv:{isErr:false,message:'',stack:'',result:null}};
  try {
    console.log(v.whois+' start.',arg.dt);

    v.step = '1.1'; // auth2B問合せ用にデータを暗号化
    v.dt = JSON.stringify({
      fc : 'auth2B',
      arg: {  // auth2B()に渡す引数
        entryNo  : arg.dt.entryNo,  // クライアントから送られた受付番号
        passCode : arg.dt.passCode, // 同パスコード
        timestamp: arg.ts,    // 同送付日時
        publicKey: arg.pKey,  // 同公開鍵
      }
    });
    v.step = '1.2'; // 暗号化。受付番号＋パスコードなのでencodeURIは省略
    v.dt = cryptico.encrypt(v.dt,arg.master,arg.RSAkey);
    if( v.dt.status !== 'success' )
      throw new Error("auth2A encrypt failed.\n"+JSON.stringify(v.dt));

    v.step = '2.1'; // auth2Bに問い合わせ
    v.res = UrlFetchApp.fetch(arg.masterAPI,{
      'method': 'post',
      'contentType': 'application/json',
      'muteHttpExceptions': true, // https://teratail.com/questions/64619
      'payload' : JSON.stringify({
        fm: 'gateway',
        to: 'master',
        md: 3,  // 署名付き暗号化
        ts: Date.now(),
        dt: v.dt.cipher,
      }),  
    }).getContentText();
    console.log('res='+v.res);
    v.step = '2.2';
    v.res = JSON.parse(v.res);

    v.step = '3'; // 問合せ結果により処理分岐
    if( v.res.isErr ){
      v.step = '3.1'; // auth2Bでエラー発生ならそのまま返す
      return v.res;
    } else {
      v.step = '3.2'; // auth2B正常終了なら情報提供
      v.rv.result = {
        common: arg.common, // 共通鍵
        info  : v.res.result, // クライアントの登録情報
      }
    }

    v.step = '4';
    console.log(v.whois+' normal end.\n'+JSON.stringify(v.rv));
    return v.rv;

  } catch(e) {
    console.error(v.whois+' abnormal end.(at step.'+v.step+')\n'
    + e.message + '\n' + e.stack);
    console.error(JSON.stringify(v));
    v.rv.isErr = true;
    v.rv.message = e.message;
    v.rv.stack = e.stack;
    return v.rv;
  }
}

/** 管理局での認証の第二段階
 * @param {AuthArg} arg - クライアントの受付番号、パスコード、送信日時、公開鍵他
 * @returns {Object} - fetchResponse.result=クライアントの登録情報
 */
function auth2B(arg){
  const v = {whois:'管理局.auth2B',
  rv:{isErr:true,message:'',stack:'',result:null}};
  try {
    console.log(v.whois+' start.',arg.dt);

    v.step = '1'; // クライアント情報を抽出
    v.master = szSheet('master');
    v.client = v.master.lookup(arg.dt.entryNo,'entryNo');
    console.log('v.client',v.client);

    // 正しいパスコードが入力されたか判定
    v.update = null;
    if( (Date.now() - new Date(v.client.genPassCode).getTime()) > 3600000 ){
      v.step = '2.1'; // 有効期限切れ
      v.rv.message = 'パスコードの有効期限(発行後1時間)を過ぎています。';
      v.rv.result = true;  // クライアント側のパスコード入力画面を閉じ、受付番号入力画面に遷移
    } else if( ('000000'+v.client.passCode).slice(-6) !== arg.dt.passCode ){
      v.step = '2.2'; // パスコード不一致
      if( String(v.client.NG2).length > 0 ){
        v.step = '2.2.1'; // 連続3回不適切
        v.rv.message = '3回連続で不適切なパスコードが入力されました。1時間ロックアウトされます';
        v.rv.result = true;  // クライアント側のパスコード入力画面を閉じ、受付番号入力画面に遷移
      } else {
        v.step = '2.2.2'; // 連続3回未満
        v.rv.message = 'パスコードが不適切です';
        v.rv.result = false;
        if( String(v.client.NG1).length === 0 ){
          v.update = {NG1: Date.now()};
        } else {
          v.update = {NG2: Date.now()};
        }
      }
    } else if( v.client.publicKey !== arg.dt.publicKey ){
      v.step = '2.3'; // 公開鍵不一致
      v.rv.message = '不適切な公開鍵です';
      v.rv.result = true;
    } else {
      v.step = '2.4'; // 全条件をクリア
      v.rv.isErr = false;
      // クライアントの情報を提供
      v.rv.result = v.client;
      v.rv.message = '正常に認証されました';
      // パスコード確認日時を更新、NGnをクリア
      v.update = {certificate: new Date()};
    }
    v.step = '2.5'; // masterシートの更新
    if( v.master !== null ){
      v.master.update(v.update,{key:'entryNo',value:arg.dt.entryNo});
    }

    v.step = '3';
    console.log(v.whois+' normal end.\n'+JSON.stringify(v.rv));
    return v.rv;

  } catch(e) {
    console.error(v.whois+' abnormal end.(at step.'+v.step+')\n'
    + e.message + '\n' + e.stack);
    console.error(JSON.stringify(v));
    v.rv.isErr = true;
    v.rv.message = e.message;
    v.rv.stack = e.stack;
    return v.rv;
  }
}
</script>

<script type="text/javascript" class="test">/* テスト用 */
let config = null;
async function AuthTest(){
  const v = {data:[]};
  console.log('AuthTest start.');
  try {
    config = new Auth(
      'https://script.google.com/macros/s/AKfycbwSvy450w3Bu3GhbBlNFGS5bJAHWi91_gEC42tTtWScAkJUjdZ35SncfXi2slktGH9h/exec',
      {entryNo:{value:"16"}}
    );
    //await v.conf.build();
    console.log('AuthTest end.',config);

  } catch(e){
    console.error('AuthTest abnormal end.',e);
  }
}
</script>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded',() => {
  AuthTest();  // 開発者コンソール上でテスト
});
</script>
</body></html>