<!DOCTYPE html><html xml:lang="ja" lang="ja"><head>
<title>Auth</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- 自作CSS -->
<link rel="stylesheet" type="text/css" href="szLib.css" />
<link rel="stylesheet" type="text/css" href="loading.css" class="core"
  data-embed="../component/loading.css" />
<style type="text/css" class="core">/* コアCSS */
</style>
<!-- 外部Script -->
<!-- 自作ライブラリ -->
<!-- webApp利用時： srcのみ必要。パスはcomponentが起点
  コンソール利用時：class="onConsole" data-embedが必要。data-embedの起点はtools -->
<script type="text/javascript" src="createElement.js" data-embed="../component/createElement.js"></script>
<script type="text/javascript" src="createPassword.js" data-embed="../component/createPassword.js"></script>
<script type="text/javascript" src="../external/cryptico.min.js" data-embed="../external/cryptico.min.js"></script>
<script type="text/javascript" src="mergeDeeply.js" data-embed="../component/mergeDeeply.js"></script>
<script type="text/javascript" src="whichType.js" data-embed="../component/whichType.js"></script>
</head><body>
  <div>
    <h1>だみぃ</h1>
    <p>これはログイン後に表示される初期画面です。</p>  
  </div>

<script type="text/javascript" class="core">/* コアScript */
/**
 * @typedef {Object} AuthProp - AuthOpt以外のAuthクラスプロパティ
 * @prop {number} constructorStart - constructor開始時刻(UNIX時間)
 * @prop {string} parentSelector - 親画面のCSSセレクタ
 * @prop {HTMLElement} parentWindow - 親画面のHTML要素
 * @prop {HTMLElement} AuthWindow - Auth関係画面のwrapper
 * @prop {HTMLElement} loading - ローディング画面のHTML要素
 */

/**
 * @typedef {Object} AuthOpt
 * @prop {string} [entryNo] - 受付番号(ID)
 * @prop {string} [passWord] - パスワード
 * @prop {string} [header=''] - 受付番号入力画面に表示するheaderのinnerHTML
 * @prop {string} [entryNoMessage='受付番号を入力してください'] - 受付番号入力画面に表示するメッセージ
 * @prop {string} [entryNoButton='送信'] - 受付番号入力画面のボタンのラベル
 * @prop {RegExp} [entryNoRegExp=/^[0-9]{1,4}$/] - 受付番号チェック用正規表現
 */

/**
 * @classdesc 入力されたID/PWと登録情報を突合し、IDに紐づく各種情報を返す
 *
 * - パスコード(passCode) : 受付番号入力後受信したメールに記載された番号
 * - パスワード(passWord) : 鍵ペア生成の際、秘密鍵の基となる文字列
 */
class Auth {
  /**
   * @constructor
   * @param {string} [parentSelector='body'] - 親要素のCSSセレクタ
   * @param {AuthOpt} [opt={}] - 生成時オプション
   */
  constructor(parentSelector,opt={}){
    const v = {rv:null};
    console.log('Auth.constructor start.');
    try {
      this.constructorStart = Date.now();

      // 1.親画面の情報をプロパティに保存
      this.parentSelector = parentSelector; // 親画面のCSSセレクタ
      this.parentWindow = document.querySelector(parentSelector); // 親画面
      console.log(Date.now()-this.constructorStart);

      // 2.オプション未定義項目の既定値をプロパティにセット
      this.#setProperties(this,null,opt);
      console.log('this:',this);
      console.log(Date.now()-this.constructorStart);

      // 3.各種画面を用意する
      //   ※鍵ペア生成で時間がかかるので、先に待機画面を表示
      this.#setWindows();
      // 初期画面として待機画面を表示
      this.#changeScreen('loading');
      console.log(Date.now()-this.constructorStart);

      // 4.秘密鍵・公開鍵を作成し、プロパティに格納する
      this.#setupKeys();
      console.log(Date.now()-this.constructorStart);

      // 5.entryNo(ID)を認証局に送信、パスコードメールを受け取る
      this.#getEntryNo();
      console.log(Date.now()-this.constructorStart);

      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.constructor end.');
      return v.rv;
    } catch(e){
      console.error('Auth.constructor abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack);
      throw e; //以降の処理を全て停止
    }
  }

  /** 既定値を設定する
   * @param {AuthOpt} opt - 生成時オプションとして渡された値
   * @returns {void}
   */
  #setProperties(dest,def,opt){
    const v = {rv:true,def:{
      keys:{  // 自他局のRSAキー関係情報
        bits: 2048,     // {number} - RSAキー長
        passWord: null, // {string} - パスワード
        pwLength: 32,   // {number} - 自動生成する場合のパスワード文字数
        secret: null,   // {RSAKey} - 秘密鍵
        public: { // {string} - 公開鍵
          self: null,
          gateway: null,
          front: null,
        }
      },
      AuthWindow: {
        element: null, // {HTMLElement} - 受付番号入力画面の要素。setWindowsで設定。
        zIndex: 2147483646,  // z-indexの最大値-1
      },
      entryNo:{ // 受付番号関係
        element: null, // {HTMLElement} - 受付番号入力画面の要素。setWindowsで設定。
        value: null,  // {string} - 受付番号
        header:'',    // {string} - 受付番号入力画面に表示するheaderのinnerHTML
        msg1:'受付番号を入力してください', // {string} - 入力欄の前に表示するメッセージ
        button:'送信',  // {string} - 受付番号入力画面のボタンのラベル
        msg2:'',      // {string} - 入力欄の後に表示するメッセージ
        rex:/^[0-9]{1,4}$/, // {RegExp} - 受付番号チェック用正規表現
      },
      loading: {
        element: null,
        zIndex: 2147483647,  // z-indexの最大値
      },
      passCode:{
        element: null, // {HTMLElement} - パスコード入力画面の要素。setWindowsで設定。
        value: null,  // {string} - パスコード
        header:'',    // {string} - パスコード入力画面に表示するheaderのinnerHTML
        msg1:'確認のメールを送信しました。記載されているパスコード(数字6桁)を入力してください。<br>'
        + '※まれに迷惑メールと判定される場合があります。メールが来ない場合、そちらもご確認ください。',
                      // {string} - 入力欄の前に表示するメッセージ
        button:'送信',  // {string} - 受付番号入力画面のボタンのラベル
        msg2: '※パスコードの有効期限は1時間です',
        rex:/^[0-9]{1,4}$/, // {RegExp} - 受付番号チェック用正規表現
      },
    }};
    console.log('Auth.#setProperties start.');
    try {
      // 最初は既定値定義Obj(v.def)を使用、再起呼出の場合は呼出元指定を使用
      if( def !== null ) v.def = def;

      for( let key in v.def ){
        if( whichType(v.def[key]) !== 'Object' ){
          dest[key] = opt[key] || v.def[key]; // 配列はマージしない
        } else {
          if( !dest.hasOwnProperty(key) ) dest[key] = {};
          this.#setProperties(dest[key],v.def[key],opt[key]||{});
        }
      }

      //console.log('this='+JSON.stringify(this));
      console.log('Auth.#setProperties end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#setProperties abnormal end.',e);
      //if( typeof window !== 'undefined' ) alert(e.stack);
      v.rv.stack = e.stack; return v.rv;
    }
  }

  /** 秘密鍵・公開鍵を作成し、プロパティに格納する
   * @param {void}
   * @returns {void}
   */
  #setupKeys(){
    const v = {rv:null};
    console.log('Auth.#setupKeys start.');
    try {
      // パスワード未指定なら作成
      if( this.keys.passWord === null ){
        this.keys.passWord = createPassword(this.keys.pwLength);
      }

      // 鍵ペアの生成
      this.keys.secret = cryptico.generateRSAKey(this.keys.passWord, this.keys.bits);
      this.keys.public.self = cryptico.publicKeyString(this.keys.secret);
      console.log(this.keys);

      // 秘密鍵の保存
      //Fs.writeFileSync('./private.json', JSON.stringify(key.toJSON()));

      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.#setupKeys end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#setupKeys abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      if( typeof window !== 'undefined' ) alert(e.stack); 
      //throw e; //以降の処理を全て停止する場合
      v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }
  }

  /** Auth関係画面をセットする
   *
   */
  #setWindows(){
    const v = {rv:null};
    console.log('Auth.#setWindows start.');
    try {
      // Auth関係画面のwrapper
      this.AuthWindow.element = createElement({
        style:{
          // CSSで全画面オーバーレイを実装する方法＆コード例
          // https://pisuke-code.com/css-fullscreen-overlay/
          position: "absolute",
          left: 0, top: 0,
          width: "100%", height:"100%",
          background:"#fff",
          zIndex:this.AuthWindow.zIndex,
        },
      });

      // 受付番号入力画面
      this.entryNo.element = createElement({
        children:[
          {html:this.entryNo.header}, // タイトル
          {tag:'p',html:this.entryNo.msg1},  // 入力欄前メッセージ
          { // inputBox
            tag:'input',
            attr:{type:'text',name:'entryNo'},
            event:{'input':()=>{}},
          },
          { // 送信ボタン
            tag:'input',
            attr:{
              type:'button',
              name:'entryNoButton',
              value:this.entryNo.button,disabled:true
            },
          },
          {tag:'p',html:this.entryNo.msg2},  // 入力欄後メッセージ
        ],
      });

      // ローディング画面
      // ※ 受付番号・パスコード入力を隠蔽するため
      //   loading.zIndex > AuthWindow.zIndex とする。
      this.loading = {element:createElement({
        style:{
          position: "absolute",
          left: 0, top: 0,
          width: "100%", height:"100%",
          background:"#fff",
          zIndex:this.loading.zIndex,
        },
        children:[
          {
            style:{
              display:"flex",
              width:"100%",
              height:"100%",
              background:"#ff0",
              justifyContent:"center",
              alignItems:"center",
            },
            children:[
              {
                attr:{class:'loading5'},
                style:{ // 点の大きさと色
                  "--dot-size":"1.25rem",
                  "--R":0,
                  "--G":0,
                  "--B":0,
                },
                text:'loading...'
              },
            ],
          }
        ],
      })};

      // パスコード入力画面
      this.passCode.element = createElement({
        children:[
          {html:this.passCode.header}, // タイトル
          {tag:'p',html:this.passCode.msg1},  // 入力欄前メッセージ
          { // inputBox
            tag:'input',
            attr:{type:'text',name:'passCode'},
            event:{'input':()=>{}},
          },
          { // 送信ボタン
            tag:'input',
            attr:{
              type:'button',
              name:'passCodeButton',
              value:this.passCode.button,disabled:true
            },
          },
          {tag:'p',html:this.passCode.msg2},  // 入力欄後メッセージ
        ],
      });

      // 画面をセット
      this.parentWindow.appendChild(this.AuthWindow.element);
      this.AuthWindow.element.appendChild(this.entryNo.element);
      this.AuthWindow.element.appendChild(this.loading.element);
      this.AuthWindow.element.appendChild(this.passCode.element);

      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.#setWindows end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#setWindows abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack);
      v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }

  }

  #changeScreen(screenId){
    const v = {rv:true};
    console.log('Auth.#changeScreen start.');
    try {

      ['entryNo','loading','passCode'].forEach(x => {
        this[x].element.style.display = x === screenId ? '' : 'none';
      });

      console.log('Auth.#changeScreen end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#changeScreen abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      //if( typeof window !== 'undefined' ) alert(e.stack);
      //throw e; //以降の処理を全て停止する場合
      v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }

  }

  #getEntryNo(){
    const v = {rv:null};
    console.log('Auth.#getEntryNo start.');
    try {

      this.#changeScreen('entryNo');
      
      //console.log('v.rv='+JSON.stringify(v.rv));
      console.log('Auth.#getEntryNo end.');
      return v.rv;
    } catch(e){
      console.error('Auth.#getEntryNo abnormal end.',e);
      // ブラウザで実行する場合はアラート表示
      if( typeof window !== 'undefined' ) alert(e.stack);
      //throw e; //以降の処理を全て停止する場合
      v.rv.stack = e.stack; return v.rv; // 処理継続する場合
    }

  }

}

</script>

<script type="text/javascript" class="test">/* テスト用 */
function AuthTest(){
  const v = {data:[]};
  console.log('AuthTest start.');
  try {
    v.conf = new Auth('body',{
      entryNoWindow:{
        header:'<h1>受付番号入力</h1>',
      }
    });
    console.log('AuthTest end.');

  } catch(e){
    console.error('AuthTest abnormal end.',e);
  }
}
</script>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded',() => {
  AuthTest();  // 開発者コンソール上でテスト
});
</script>
</body></html>