<!DOCTYPE html><html xml:lang="ja" lang="ja"><head>
<title>embedComponent</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css" class="core">/* コアCSS */
</style>
</head><body>
<div class="core"><!-- コアHTML -->
</div>

<div class="webApp"><!-- webアプリHTML -->
</div>

<!-- 外部スクリプト -->

<script type="text/javascript" class="core">/* コアスクリプト */
const fs = require('fs');  // ファイル操作
const lib = require('./jsLib');  // 自作ライブラリ
const { JSDOM } = require("jsdom");

/**
 * テンプレート(HTML)のタグに含まれる'data-embed'属性に基づき、他文書から該当箇所を挿入する
 * @param {Document} doc - 編集対象となるDocumentオブジェクト
 * @returns {HTMLElement} 挿入済みのHTML文書(但、doctype,htmlタグは含まない)
 */
function embedComponent(doc){
  console.log('===== embedComponent start.');
  const v = {rv:doc.querySelector('html'),base:''};
  try {

    v.rv.querySelectorAll('[data-embed]').forEach(o => {
      v.tagName = o.tagName.toLowerCase();
      v.embed = o.getAttribute('data-embed');
      //console.log(lib.whichType(v.embed)+'->'+v.embed);
      if( v.tagName === 'meta' ){
        v.base = v.embed;
      } else {
        v.embed = JSON.parse(v.embed);
        v.content = fs.readFileSync(v.base+v.embed.src,'utf-8');
        v.doc = new JSDOM(v.content).window.document;
        v.node = v.doc.querySelector(v.embed.sel);
        //console.log('l.21',v.node.innerHTML);
        if( v.tagName === 'style' || v.tagName === 'script' ){
          o.innerHTML = v.node.innerHTML;
        } else {
          o.appendChild(v.node);
        }
        o.removeAttribute('data-embed');
      }
      //console.log('l.10',v.tagName,v.embed);
    });

    console.log('===== embedComponent end.');
    return v.rv;
  } catch(e){
    console.error('===== embedComponent abnormal end.\n',e);
    // ブラウザで実行する場合はアラート表示
    if( typeof window !== 'undefined' ) alert(e.stack); 
    //throw e; //以降の処理を全て停止
    v.rv.stack = e.stack; return v.rv; // 処理継続
  }
}

/**
 * @desc コンソール(Node.js)でembedComponentを実行
 * 
 * ```
 * data-embed="{
 *   from: {
 *     filename: {string} - 参照先のファイル名
 *     selector: {string} - CSSセレクタ文字列。省略時はファイル全文と解釈
 *   },
 *   to: {string} [innerHTML|innerText|xxx|child],
 *     innerHTML : data-embedが記載された要素のinnerHTMLとする
 *     innerText : data-embedが記載された要素のinnerTextとする
 *     xxx : 属性名xxxの値とする
 *   type: {string} [pu,md,mmd]
 *     pu : PlantUMLとして子要素を生成して追加
 *     md : MarkDownとして子要素を生成して追加
 *     mmd : Mermaidとして子要素を生成して追加
 * }"
 * ```
 * 
 * window.onLoadで以下を呼び出して使用。
 * 
 * ```
 * document.querySelectorAll('[data-embed]').forEach(element => {
 *  embedComponent(element.getAttribute('data-embed'));
 * });
 * ```
 * 
 * **注意**
 * 
 * JavaScriptのライブラリ等、テンプレートが非HTMLの場合は処理できない。<br>
 * この場合、テンプレートを強引にHTML化して処理後、querySelector.jsで必要な部分を抽出するか、grep等で不要な部分を削除する。
 * 
 * 
 * 以下はコンソールで使用する際、nodeの起動時オプションで指定するパラメータ。
 * @param {string} [d='prototype.html'] - 入力ファイルのパス＋ファイル名
 * @param {string} i - 挿入先となるベースファイルのパス＋ファイル名
 * @param {string} o - 挿入後の結果を出力するファイルのパス＋ファイル名
 * @returns {void}
 * 
 * - 引数無しのパラメータはJSON文字列なので、コマンドライン上はシングルクォーテーションで囲む
 * - JSON文字列は長くなりがちなので、スイッチのないパラメータは全て結合した上で解釈する
 * 
 * @example
 * 
 * 
 * 
 * 
 * 
 * - [JSDOMを利用し、HTML + JavaScriptのプログラムをNode.jsで動作させる](https://symfoware.blog.fc2.com/blog-entry-2685.html)
 */

function onNode(){
  const v = {};

  // 事前処理：引数チェック、既定値の設定
  if('stack' in (v.argv = lib.analyzeArg())) throw v.argv;

  // ベース(挿入先)ファイルの読み込み
  v.text = fs.readFileSync(v.argv.opt.i,'utf-8');
  v.m = v.text.match(/(^.*<html.*?>)([\s\S]*)(<\/html.+)$/);
  v.header = v.m[1] || '<!DOCTYPE html><html xml:lang="ja" lang="ja">';
  v.footer = v.m[3] || '</html>';

  v.rv = v.header + embedComponent(new JSDOM(v.text).window.document).innerHTML + v.footer;
  console.log(v.rv);
  fs.writeFileSync(v.argv.opt.o,v.rv,'utf-8');  

}

onNode();
</script>

<script type="text/javascript" class="webApp">/* webアプリ */
</script>

<script type="text/javascript" class="test">/* テスト用 */
</script>

<script type="text/javascript" class="main">
window.addEventListener('DOMContentLoaded',() => {
  const v = {};
});
</script>
</body></html>