/*
  ローディングアイコン集
  https://projects.lukehaas.me/css-loaders/

  ex. <div class="loading5">loading...</div>
*/
.loading5 {
  --dot-size: 1.25rem;
  --R: 0;
  --G: 0;
  --B: 0;
  --back: rgba(var(--R),var(--G),var(--B),1);
  --pale: rgba(var(--R),var(--G),var(--B),0.2);
  --middle: rgba(var(--R),var(--G),var(--B),0.5);
  --dark: rgba(var(--R),var(--G),var(--B),0.7);

  margin: 100px auto;
  font-size: 25px;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em var(--back), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--middle), -1.8em -1.8em 0 0em var(--dark);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em var(--dark), 1.8em -1.8em 0 0em var(--back), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--middle);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em var(--middle), 1.8em -1.8em 0 0em var(--dark), 2.5em 0em 0 0em var(--back), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--pale);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--middle), 2.5em 0em 0 0em var(--dark), 1.75em 1.75em 0 0em var(--back), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--pale);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--middle), 1.75em 1.75em 0 0em var(--dark), 0em 2.5em 0 0em var(--back), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--pale);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--middle), 0em 2.5em 0 0em var(--dark), -1.8em 1.8em 0 0em var(--back), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--pale);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--middle), -1.8em 1.8em 0 0em var(--dark), -2.6em 0em 0 0em var(--back), -1.8em -1.8em 0 0em var(--pale);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--middle), -2.6em 0em 0 0em var(--dark), -1.8em -1.8em 0 0em var(--back);
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em var(--back), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--middle), -1.8em -1.8em 0 0em var(--dark);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em var(--dark), 1.8em -1.8em 0 0em var(--back), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--middle);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em var(--middle), 1.8em -1.8em 0 0em var(--dark), 2.5em 0em 0 0em var(--back), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--pale);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--middle), 2.5em 0em 0 0em var(--dark), 1.75em 1.75em 0 0em var(--back), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--pale);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--middle), 1.75em 1.75em 0 0em var(--dark), 0em 2.5em 0 0em var(--back), -1.8em 1.8em 0 0em var(--pale), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--pale);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--middle), 0em 2.5em 0 0em var(--dark), -1.8em 1.8em 0 0em var(--back), -2.6em 0em 0 0em var(--pale), -1.8em -1.8em 0 0em var(--pale);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--middle), -1.8em 1.8em 0 0em var(--dark), -2.6em 0em 0 0em var(--back), -1.8em -1.8em 0 0em var(--pale);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em var(--pale), 1.8em -1.8em 0 0em var(--pale), 2.5em 0em 0 0em var(--pale), 1.75em 1.75em 0 0em var(--pale), 0em 2.5em 0 0em var(--pale), -1.8em 1.8em 0 0em var(--middle), -2.6em 0em 0 0em var(--dark), -1.8em -1.8em 0 0em var(--back);
  }
}
