<!DOCTYPE html><html xml:lang="ja" lang="ja"><head>
<title>prototype</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css" class="core">/* コアCSS */
</style>
</head><body>
<div class="core"><!-- コアHTML -->
</div>

<div class="webApp"><!-- webアプリHTML -->
</div>

<!-- 外部スクリプト -->

<script type="text/javascript" class="core">/* コアスクリプト */
/** serializeRSAKey: RSAキーを文字列化
 * @param {RSAKey} key - RSAキー
 * @returns {string} 文字列
 * @desc [store javascript object rsa private key #28]{@link https://github.com/wwwtyro/cryptico/issues/28}
 */
 function serializeRSAKey(key) {
  return JSON.stringify({
    coeff: key.coeff.toString(16),
    d: key.d.toString(16),
    dmp1: key.dmp1.toString(16),
    dmq1: key.dmq1.toString(16),
    e: key.e.toString(16),
    n: key.n.toString(16),
    p: key.p.toString(16),
    q: key.q.toString(16)
  })
}
</script>

<script type="text/javascript" class="webApp">/* webアプリ */
</script>

<script type="text/javascript" class="test">/* テスト用 */
</script>

<script type="text/javascript" class="main">
window.addEventListener('DOMContentLoaded',() => {
  const v = {};
});
</script>
</body></html>