html {
  font-size: 24pt;
  font:helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.5rem;
  color: black;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
  font-size: 24pt;
}
.right, .num {
  text-align: right;
}
/*
  ヘッダ関係
*/
h1,h2,h3,h4,h5,h6 {
  border: 0;
}
h1 {
  font-size: 170%;
  border-top: 4px solid #aaa;
  padding-top: 0.5em;
  margin-top: 1.5em;
}
h2, h3 {
  margin: 1em 0;
}
h2 {
  font-size: 150%;
  margin-top: 1.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5em;
}
/*
  テーブル関係
*/
th {
  padding: 0.3em;
  background-color: #888;
  color: white;
}
td {
  padding: 0.3em;
  border-bottom: solid 1px #aaa;
  border-right: solid 1px #aaa;
}
/*
  リスト関係
*/
ul, ol {
  margin: 1em 0 1em 2em;
}
li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/*
  ソース表示
*/
code {
  background-color: #f8f8ff;
  color: #444;
  padding: 0 0.2em;
  border: 1px solid #dedede;
}

pre {
  border: solid 5px #999;
}