<!DOCTYPE html><html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <title>whichType</title>
</head>
<body>
  <p>Webアプリは無し。</p>
  <p>テストは開発者コンソールで確認。</p>
</body>
<!--================================================
  whichType コアスクリプト
================================================-->
<script type="text/javascript" class="core">
/** 
 * 変数の型を判定し、型名を文字列で返す。なお引数"is"が指定された場合、判定対象が"is"と等しいかの真偽値を返す。
 * 
 * @param {any} arg - 判定対象の変数
 * @param {string} [is] - 想定される型(型名の大文字小文字は意識不要)
 * @returns {string|boolean} - 型の名前。is指定有りなら判定対象が想定型かの真偽値
 * 
 * @example
 * ```
 * let a = 10;
 * whichType(a);  // 'Number'
 * whichType(a,'string'); // false
 * ```
 * 
 * <b>確認済戻り値一覧</b>
 * 
 * オブジェクトは型名が返るので、限定列挙は困難。以下は確認済みの戻り値のみ記載。
 * 
 * | 型名 | 戻り値 | 備考 |
 * | :-- | :-- | :-- |
 * | 文字列 | String |  |
 * | 数値 | Number |  |
 * | NaN | NaN |  |
 * | 長整数 | BigInt |  |
 * | 論理値 | Boolean |  |
 * | シンボル | Symbol |  |
 * | undefined | Undefined | 先頭大文字 |
 * | Null | Null |  |
 * | オブジェクト | Object |  |
 * | 配列 | Array |  |
 * | 関数 | Function |  |
 * | アロー関数 | Arrow |  |
 * | エラー | Error | RangeError等も'Error' |
 * | Date型 | Date |  |
 * | Promise型 | Promise |  |
 *  
 * - Qiita [JavaScriptの型などの判定いろいろ](https://qiita.com/amamamaou/items/ef0b797156b324bb4ef3)
 * 
 */

function whichType(arg,is){
  let rv = String(Object.prototype.toString.call(arg).slice(8,-1));
  switch(rv){
    case 'Number': if(Number.isNaN(arg)) rv = 'NaN'; break;
    case 'Function': if(!('prototype' in arg)) rv = 'Arrow'; break;
  }
  if( typeof is === 'string' ){
    return rv.toLowerCase() === is.toLowerCase();
  } else {
    return rv;
  }
}
</script>

<!--================================================
  テスト関係(仕様書、スクリプト)
================================================-->
<script type="text/javascript" class="test">
function whichTypeTest(){
  const data = [
    // 文字列
    {val:'abc',is:'String'},
    {val:String('12345'),is:'string'},
    // 数値
    {val:10,is:'Number'},
    {val:Infinity,is:'number'},
    {val:Number('123'),is:'numBer'},
    {val:NaN,is:'NaN'}, // NaN
    {val:BigInt(9007199254740991),is:'BigInt'}, // 長整数
    {val:BigInt("0x1fffffffffffff"),is:'bigint'},
    // 論理値
    {val:true,is:'Boolean'},
    {val:(10===10),is:'Boolean'},
    // シンボル
    {val:Symbol("Sym"),is:'Symbol'},
    // Null
    {val:null,is:'Null'},
    // {val:Null,is:'Null'}, -> Uncaught ReferenceError: Null is not defined
    // オブジェクト
    {val:{a:10,b:20},is:'Object'},
    // 配列
    {val:[0,1,2],is:'Array'},
    // 関数
    {val:(arg) => 'test:'+String(arg),is:'Arrow'},
    {val:function(){},is:'Function'},
    // エラー
    {val:new Error('error test'),is:'Error'},
    {val:new RangeError('range error test'),is:'Error'},
    // その他
    {val:new Date(),is:'Date'},
    {val:new Promise(()=>{}),is:'Promise'},
  ];
  console.log('undefined',whichType());  // -> Undefined
  console.log('undefined',whichType(undefined));  // -> Undefined
  console.log('undefined',whichType(undefined,'undefined'));  // -> Undefined
  data.forEach(x => {
    console.log(x.val,whichType(x.val));
    console.log(x.is,whichType(x.val,x.is));
  })
}
</script>

<!--================================================
  メイン処理
================================================-->
<script type="text/javascript" class="main">
window.addEventListener('DOMContentLoaded',() => {
  whichTypeTest();  // テスト実行
});
</script>
</html>